.form {
  max-width: var(--container);
  padding: var(--padding-block) var(--padding-inline);
  margin: 0 auto;
  background-color: var(--background_color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 18px;
}
.info {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-top: 14px;
}
