:root {
  --background_color: #313131;
  --gray_color:#454545;
  --default_color:#737373;
  --white: #FFFFFF;
  --black: #000;
  --red-orange:#FF5620;
  --green_color: #00AE1C;

  --container: 400px;
  --padding-inline:50px;
  --padding-block:38px;
  }
