.checkboxInput {
  opacity: 0;
  position: absolute;
  background-color: transparent;
  width: 2px;
  height: 2px;
  cursor: pointer;
  z-index: 2;
}

.checkBox {
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-text-primary);
  border-radius: 2px;
  left: 18px;
  top: 20px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  pointer-events: all;
  img {
    position: absolute;
    pointer-events: none;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all var(--transition-speed) ease;
    border-radius: 2px;
    overflow: hidden;
  }

  &:hover {
    background-color: var(--color-primary);
    cursor: pointer;
  }
}

.isEdit {
  cursor: none;
  pointer-events: none;
}

.checkboxInput:checked + .checkBox {
  border-color: var(--color-primary);
}
