.buttonClass {
  width: 300px;
  height: 36px;
  background-color: var(--green_color);
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: -0.3px;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.01);
  }
}
.validForm {
  cursor: pointer;
  pointer-events: visible;
}

.notValidForm {
  cursor: none;
  pointer-events: none;
  opacity: 0.8;
}
