.header {
  color: var(--contact-information-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.261px;
  gap: 24px 10px;
  margin-bottom: 8px;
  @media screen and (max-width: 576px) {
    margin-bottom: 20px;
    gap: 14px 10px;
  }
}
:global(.page__container) {
  padding-top: 33px;
  margin-bottom: 68px;
  @media screen and (max-width: 576px) {
    padding-top: 15px;
    gap: 5px 10px;
    margin-bottom: 10px;
  }
}
.img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 50%;
  background: url("../../assets/images/order.png") center / 100% no-repeat;
  @media screen and (max-width: 576px) {
    width: 30px;
    height: 30px;
  }
}

.thanks {
  text-align: center;
  font-size: 32px;
  @media screen and (max-width: 576px) {
    font-size: 18px;
  }
}

.order {
  font-weight: 700;
}
.orderDate {
  color: var(--underline-default);
  text-align: center;
}
.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px 30px;
  flex-wrap: wrap;
  align-items: stretch;
  @media screen and (max-width: 576px) {
    gap: 5px 10px;
  }
}

.titleContact {
  color: var(--text-default);
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: 16px;
  margin-left: 24px;
  &::before {
    content: "";
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    background: url("../../assets/images/contact.svg") center/100%no-repeat;
    position: absolute;
    top: -1px;
    left: -24px;
  }
}
.titleShipment {
  @extend .titleContact;

  &::before {
    background: url("../../assets/images/shipment.svg") center/100%no-repeat;
  }
}
.titleSummary {
  @extend .titleContact;
  margin-bottom: 2px;
  &::before {
    background: url("../../assets/images/summary.svg") center/100%no-repeat;
  }
}
.divider {
  height: 1px;
  background-color: var(--selection-color);
  width: 100%;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: 576px) {
    align-items: center;
  }
}

.cardItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cardItem {
  color: var(--dark-text);
  line-height: 1.25;
  border-radius: var(--border-radius);
  background: var(--white-text);
  align-items: stretch;
  display: flex;
  flex-direction: row;
  padding-block: 16px;
  gap: 8px;
  @media screen and (max-width: 576px) {
    padding-block: 8px;
  }
}

.image {
  width: 90px;
  height: 90px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.cardInfo {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8px;

  @media screen and (max-width: 576px) {
    display: flex;
    flex-direction: column;
  }
}

.cardDescription {
  text-overflow: ellipsis;
  line-height: 1.25;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 700px;
  width: 100%;

  text-align: start;

  @media screen and (max-width: 576px) {
    font-size: 12px;
    min-height: auto;
  }
}
.cartPrice {
  overflow: hidden;
  color: var(--dark-text);
  font-weight: 700;
  line-height: 1.25;
  justify-self: start;
}

.totalPrice {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 16px 57px;
  justify-items: flex-start;
  padding-block: 16px;
  padding-inline: 8px;
  align-items: center;
  @media screen and (max-width: 576px) {
    font-size: 14px;
    gap: 10px 20px;
  }
  &--mod {
    font-size: 20px;
    font-weight: 700;
    @media screen and (max-width: 576px) {
      font-size: 16px;
    }
  }
}
.wBig {
  --btnWidth: 150px;
}
