.button {
  width: max-content;
  display: flex;

  justify-content: center;
  align-items: center;

  line-height: 1.33333;
  border-radius: var(--radius-base);
  min-width: var(--btn-width);
  height: 36px;
  padding: 12px 10px;
  gap: 4px;
  font-family: var(--font-secondary);

  font-size: var(--font-size-s);
  border: 1px solid transparent;
  box-shadow: var(--shadow);
  letter-spacing: -0.3px;

  transition:
    background-color var(--transition-speed),
    color var(--transition-speed),
    box-shadow var(--transition-speed),
    border-color var(--transition-speed);

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-text-inverse);

  &:not(:disabled):hover {
    border-color: var(--color-bg-checked);

    box-shadow: var(--btn-shadow);
  }

  &:not(:disabled):active {
    background-color: var(--color-bg-secondary);
  }
}

.secondary {
  border-color: var(--color-bg-secondary);
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);

  &:not(:disabled):hover {
    background-color: var(--color-attention);
    box-shadow: var(--btn-shadow);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

.icon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

.size_compact {
  --btn-width: var(--btn-width-compact);
}
.size_wide {
  --btn-width: var(--btn-width-wide);
}
.size_full {
  width: 100%;
}
