.titlePlayer {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: var(--orange-title);

  @media (max-width: 541px) {
    font-size: 22px;
  }
}

.winner {
  color: var(--background-message);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.3px;
  @media (max-width: 441px) {
    font-size: 22px;
  }
}

.looser {
  @extend .winner;
  color: var(--lost-color);
}
.player {
  padding-top: 37px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  flex-basis: 50%;
  align-items: center;
  gap: 38px;
  padding-inline: 41px;
  &:first-child {
    border-right: 2px solid var(--border-color-01);
    @media (max-width: 712px) {
      padding: 15px;
      gap: 20px;
      border-bottom: 2px solid var(--border-color-01);
    }
  }

  @media (max-width: 541px) {
    padding-top: 15px;
    gap: 15px;
  }
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 712px) {
  .players {
    flex-direction: column;
  }
}
.draw {
  @extend .winner;
  color: var(--orange-title);
}
