.container {
  margin: 0 auto;
  display: flex;
  width: var(--order-small);
  padding: 18px 16px 16px 16px;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2px;

  color: var(--black-color);
  border-radius: var(--border-radius);

  background: var(--white-text);
  box-shadow: var(--shadow-hover);
  @media screen and (max-width: 576px) {
    padding: 5px;
    justify-content: center;
  }
}
