.divider {
  width: 300px;
  height: 1px;
  background-color: var(--default_color);
}
.dividerError {
  background-color: var(--red-orange);
}
.dividerActive {
  background-color: var(--white);
}

.label {
  color: var(--white);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  margin-bottom: 7px;
}
.container {
  font-family: "Inter", sans-serif;
}
.errorPlace {
  position: relative;
}

.inputClass {
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3333;
  letter-spacing: -0.3px;
  margin-bottom: 13px;
  text-align: left;
  outline: none;
  opacity: 0.8;

  &::placeholder {
    color: var(--white);
    opacity: 0.8;
    &:active,
    &:focus {
      opacity: 1;
    }
  }

  &:active,
  &:focus {
    opacity: 1;
  }
}
.error {
  color: var(--red-orange);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.2px;
  position: absolute;
  top: 2px;
  left: 0px;
}
.password {
  width: 16px;
  height: 16px;
  background: url("../../assets/images/notView.svg") center / 16px no-repeat;
}
.passwordContainer {
  display: flex;
  justify-content: space-between;
}
.passwordOpen {
  width: 16px;
  height: 16px;
  background: url("../../assets/images/view.svg") center / 16px no-repeat;
}
