.link {
  color: var(--primary-color, var(--primary-green));
  font-family: var(--font-link, var(--font-family-secondary));
  font-size: var (--font-size, var(--font-size-m));
  font-weight: var(--font-weight, var(--font-weight-bold));
  line-height: 1.3333;
  letter-spacing: -0.3px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:active {
    color: var(--pressed-primary, var(--pressed-green));
    text-decoration: underline;

    cursor: pointer;
  }
}
.disabled {
  @extend .link;
  color: var(--disabled-link);
  pointer-events: none;
  aria-disabled: true;
}
