.container > * {
  margin: 0 auto;
  display: flex;
  width: var(--containerCart);
  padding-inline: var(--containerPadding);
  max-width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;

  border-radius: var(----border-radius);
  background: var(--white-text);
  box-shadow: var(--shadow-hover);
  padding: 32px;

  @media screen and (max-width: 576px) {
    padding: 5px;
    justify-content: center;
  }
}
