.checkboxInput {
  cursor: pointer;
  width: 0px;
  height: 0px;
  position: relative;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid var(--white);
    border-radius: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: url("../../assets/images/checked.svg") center / 16px no-repeat;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    display: none;
  }
  &:checked {
    &::after {
      display: block;
    }
    &::before {
      border: 3px solid var(--green_color);
    }
  }
}
.checkboxLabel {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 12px;

  font-weight: 400;
  line-height: 1.3333;
  letter-spacing: -0.2px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 22px;
}
.checkbox {
  margin-bottom: 32px;
}
