.resetButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 36px;
  padding: 12px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: var(--border-radius);
  background-color: var(--background-message);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.3px;
}