.boardGame {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  pointer-events: none;
}
.boardGameContainer {
  width: 300px;
  height: 300px;
  background: var(--background-message-field);
  border-radius: var(--border-radius);
  padding: 15px;
  border: 1px solid var(--border-color-01);
  position: relative;
}
.gamerIsActive {
  pointer-events: all;
}
.winLine {
  position: absolute;
  width: 100%;
  height: 6px;
  border-radius: var(--border-radius);
  background: var(--text-color);
}
