.label {
  color: var(-text-default);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
.placeholder {
  color: var(-text-default);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.333333;
  letter-spacing: -0.3px;
  opacity: 0.8;
  &:active,
  &:focus {
    opacity: 1;
  }
}
.input {
  border-bottom: 1 solid var(--underline-default);

  &:active,
  &:focus {
    border-bottom: 1 solid var(-text-default);
  }
}
.error {
  color: var(--underline-error);

  font-size: 10px;

  line-height: 1.2;
  letter-spacing: -0.2px;
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: 576px) {
    align-items: center;
  }
}
