.container {
  padding-top: 20px;
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
}
.forms {
  display: flex;
  flex-direction: column;

  align-items: center;
  row-gap: 20px;
}
