.shipmentForm {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  gap: 20px 44px;
  @media screen and (max-width: 576px) {
    align-items: center;
  }
}
.shipmentForm__address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px 44px;
}
.shipmentForm__region {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px 44px;
  @media screen and (max-width: 576px) {
    justify-content: center;
  }
}
.pageContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: 576px) {
    align-items: center;
  }
}
.wBig {
  --btnWidth: 150px;
}
