.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}
h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
}
.title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.3px;
}
