:root {
  --font-base: 'Inter', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  --color-bg-page: #f2f5f7;
  --color-bg-main: #ffffff;
  --color-bg-secondary: #dedfe5;
  --color-bg-checked: #efefef;

  --color-text-primary: #323749;
  --color-text-inverse: #fff;

  --color-primary: #00ae1c;
  --color-secondary: #ffffff;
  --color-attention: #ff4f00;

  --radius-base: 8px;
  --shadow-base: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

  --btn-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

  --font-size-base: 16px;
  --font-size-s: 15px;

  --layout-page-max-width: 1440px;
  --layout-content-max-width: 700px;
  --layout-content-max-height: 703px;
  --layout-container-padding: 16px;

  --btn-width-icon: 13px;
  --btn-width-compact: 80px;
  --btn-width-wide: 280px;
  --transition-time: 0.3s;
}
