.modalBackdrop {
  font-family: var(--font-family, var(--font-family-base));
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: all 0.9s ease;
}
.modal {
  width: var(--modal-width, var(--modal-width-s));
  background: var(--main-background);
  max-height: 234px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;
  border-radius: var(--border-radius);
  box-shadow: var(--modal-shadow);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.title {
  color: var(--text-default);
  font-size: var(--font-size-title, var(--font-size-xl));
  text-align: start;
  font-weight: var(--font-weight-bold);
  line-height: 1.04167;
  letter-spacing: -0.6px;
  word-break: break-word;
  flex: 1;
  min-width: 0;
}

.separator {
  border-radius: 1px;
  background: var(--secondary-color, var(--secondary-grey));
  border: none;
  height: 1px;
  margin: 16px 0;
}

.modalContent {
  color: var(--text-default);
  font-size: var(--font-size, var(--font-size-base));
  line-height: 1.25;
  letter-spacing: -0.3px;
  text-align: justify;
  max-height: 143px;
  overflow-y: auto;
  flex-grow: 1;
}
.modalContent::-webkit-scrollbar {
  display: none;
}
.closeButton {
  width: 16px;
  height: 16px;
  background: transparent;
  border-radius: var(--border-radius-small);
  &:hover {
    background: var(--secondary-grey);
  }
}
.size_xs {
  --modal-width: var(--modal-width-xs);
}
.size_s {
  --modal-width: var(--modal-width-s);
}
.size_m {
  --modal-width: var(--modal-width-m);
}
.size_l {
  --modal-width: var(--modal-width-l);
}
