.icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.size_m {
  width: 12px;
  height: 12px;
}
.size_s {
  width: 10px;
  height: 6px;
}
.size_l {
  width: 16px;
  height: 16px;
}
.color_primaryIcon {
  color: var(--color-modal);
}
